@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {

  width: 500px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
  
 
}

/* styling register and login boxes */

.loginBox,
.signupBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 400px;
    background: rgba(42, 70, 37, 0.949);
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
    border: 2px solid black;
}



.title {
color: white;
  font-size: 37px;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 25px;

}

.loginBox input,
.signupBox input,
.log {
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="text"],
.loginBox input[type="email"],
.loginBox input[type="password"],
.signupBox input[type="text"],
.signupBox input[type="email"],
.signupBox input[type="password"] {
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    height: 30px;
    color: white;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box;
}

.loginBox input[type="text"]:hover,
.loginBox input[type="email"]:hover,
.loginBox input[type="password"]:hover,
.signupBox input[type="text"]:hover,
.signupBox input[type="email"]:hover,
.signupBox input[type="password"]:hover {
    color: gray;
    border: 1px solid rgb(42 70 37 / 87%);
    ;
    box-shadow: 0 0 5px white, 0 0 10px rgba(229, 99, 63, 0.2), 0 0 15px rgba(255, 77, 0, 0.1), 0 2px 0 black
}

.loginBox input[type="text"]:focus,
.loginBox input[type="email"]:focus,
.loginBox input[type="password"]:focus,
.signupBox input[type="text"]:focus,
.signupBox input[type="email"]:focus,
.signupBox input[type="password"]:focus {
    border-bottom: 2px solid rgb(131, 66, 66);
}

.signup,
.back {
  color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}


.inputBox {
    position: relative;
}

.inputBox span {
    position: absolute;
    top: 10px;
    color: #262626;
}

.log {
    border: none;
    outline: none;
    height: 35px;
    font-size: 20px;
    background: white;
    color: rgb(42 70 37 / 87%);
    border-radius: 20px;
    cursor: pointer;
}


.background{
  background-color: rgb(224, 228, 224);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.logColor{
  color: rgb(212, 212, 212);
}
.p{
  color: rgb(184, 183, 183);
}

